:root {
  --ta-sans-serif: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  --ta-serif: Georgia, "Times New Roman", "Century Schoolbook L", serif;
  --ta-monospace: "Trip Sans Mono", Courier, monospace, Arial, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: var(--ta-sans-serif);
}

header {
  position: sticky;
  top: 0;
  margin-top: 10px;
}

.boxContainer {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.nav-container {
  padding: 0 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-items ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-list-items ul > li {
  padding: 9.5px 16px;
  font-size: 1rem;
  font-weight: 550;
}

.nav-list-items ul li:hover {
  background-color: #e5e5e5;
  border-radius: 2rem;
  cursor: pointer;
}

.nav-btn button:first-child {
  padding: 9.5px 1rem;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 550;
}

.nav-btn button:first-child:hover {
  background-color: #e5e5e5;
  border-radius: 2rem;
  cursor: pointer;
}

.nav-btn button:last-child {
  padding: 9.5px 1rem;
  background-color: #002b11;
  color: #f7f7f7;
  font-size: 1rem;
  border-radius: 2rem;
}

.nav-btn button:first-child::before {
  content: "🌐";
  font-size: 1rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #1a1a1a;
}

.nav-btn-ai button {
  font-size: 1rem;
  font-weight: 580;
  padding: 9.5px 1rem;
  border-radius: 2rem;
  border: 1px solid #f7f7f7;
  background: #ffff;
  box-shadow: rgba(15, 255, 2, 0.672) 0px 5px 15px;
}

.nav-btn-ai button:hover {
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
}
