:root {
  --ta-sans-serif: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  --ta-serif: Georgia, "Times New Roman", "Century Schoolbook L", serif;
  --ta-monospace: "Trip Sans Mono", Courier, monospace, Arial, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: var(--ta-sans-serif);
}

header {
  position: sticky;
  top: 0;
}

.boxContainer {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
